<p>Are you sure you want to delete all orders?</p>
<form action="/admin/orders" method="post" accept-charset="utf-8">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete All">
</form>

