<h3 class="new-order-title"><strong>Select Items for Order:</strong></h3>

<br />

  <form class="order-form field" action="/admin/orders" method="post">

    <div class="field">
      <input type="text" name="order[collection_3_id]" placeholder="3-Item Collection ID" />
    </div>

    <div class="field">
      <input type="text" name="order[collection_5_id]" placeholder="5-Item Collection ID" />
    </div>

    <!-- Implement later to enable POST requests? -->
    <!-- <div class="field">
      <input class="checkbox" type="checkbox" name="order[three-item]">    Three-Item Order</input>
    </div> -->

    <!-- <br />

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[Leggings]">    Leggings</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[sports-bra]">    Sports Bra</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[jacket]">   Sports Jacket</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[top]">    Top</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[other]">    Wrap/Equipment/Accessories</input>
    </div> -->

    <input class="submit_button button is-light" type="submit" value="Create Order" />
  </form>
</div>
