<h3 class="new-order-title"><strong>Select Items for Order:</strong></h3>
<p><em>Please make one order for 3-item and another for 5-item</em></p>

<br />

  <form class="order-form field" action="/orders" method="post">

    <div class="field">
      <input type="text" name="order[collection_id]" placeholder="Enter Collection ID" />
    </div>

    <!-- <div class="field">
      <input class="checkbox" type="checkbox" name="order[three-item]">    Three-Item Order</input>
    </div> -->

    <!-- <br />

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[Leggings]">    Leggings</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[sports-bra]">    Sports Bra</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[jacket]">   Sports Jacket</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[top]">    Top</input>
    </div>

    <div class="field">
      <input class="checkbox" type="checkbox" name="order[other]">    Wrap/Equipment/Accessories</input>
    </div> -->

    <input class="submit_button button is-light" type="submit" value="Create Order" />
  </form>
</div>
