<% if InfluencerOrder.count != 0 %>
  <div class="notification is-success success-influencers">
    <p>
      <%= InfluencerOrder.count %> orders successfully created. See CSV file for order information.
    </p>
  </div>
<% end %>
