<h1>What would you like to do?</h1>
<p><a href="/admin/uploads/new">Upload influencer CSV</a></p>
<p><a href="/admin/orders/new">Create new orders for all influencers</a></p>
<p><a href="/admin/influencers/show">Review influencer information</a></p>
<p><a href="/admin/influencers/delete">Reset all influencers</a></p>
<p><a href="/admin/orders/delete">Reset order history</a></p>
